In [1]:
import itertools
from itertools import permutations
import pandas as pd
import sqlite3
import numpy as np
import itertools

In [14]:
annotation_path = '../code/services/db.sqlite3'
conn = sqlite3.connect(annotation_path)

In [15]:
df = pd.read_sql('select * from apiservice_Images', conn)

In [12]:
df.head()

,Id,Pred1Label,Pred1Score,Pred2Label,Pred2Score,Pred3Label,Pred3Score,Status,ImageName,ModelName
0,79,TEA_SPOON,0.788551,FISH_SLICE,0.107578,DINNER_FORK_KNIFE,0.103870,0,dinnerkniferaw25.jpg,inception_utensil_color_bias
1,80,TEA_SPOON,0.882453,DINNER_FORK_KNIFE,0.090764,FISH_SLICE,0.026784,0,teaspoonraw18.JPG,inception_utensil_color_bias
2,81,TEA_SPOON,0.867195,DINNER_FORK_KNIFE,0.081930,FISH_SLICE,0.050875,0,dinnerkniferaw30.jpg,inception_utensil_color_bias
3,82,TEA_SPOON,0.733170,FISH_SLICE,0.244639,DINNER_FORK_KNIFE,0.022190,0,teaspoonraw84.JPG,inception_utensil_color_bias
4,83,TEA_SPOON,0.982906,FISH_SLICE,0.011912,DINNER_FORK_KNIFE,0.005182,0,teaspoonraw45.JPG,inception_utensil_color_bias

In [57]:
pilot_batch = pd.read_sql('select id from apiservice_Images where iteration=1', conn)

In [58]:
pilot_batch.to_csv('pilot_batch.csv', index=False)

In [103]:
df['ModelName'].value_counts()

inception_utensil_color_bias     228
inception_utensil_shape_bias     228
squeezenet_utensil_both_bias     228
squeezenet_utensil_color_bias    227
inception_utensil_both_bias      227
squeezenet_utensil_shape_bias    227
inception_imageneta_bias         204
squeezenet_imageneta_bias        203
Name: ModelName, dtype: int64

In [105]:
df.to_csv('remaining.csv',index=False)

In [91]:
samples = df.groupby('ModelName').sample(frac=.05, replace=False, random_state=1).copy()

In [20]:
samples.groupby('ModelName').count().sum()

Id            116
Pred1Label    116
Pred1Score    116
Pred2Label    116
Pred2Score    116
Pred3Label    116
Pred3Score    116
Status        116
ImageName     116
dtype: int64

In [92]:
len(samples)

94

In [66]:
330/5

66.0

In [102]:
95/5

19.0

In [93]:
df.drop(samples.index, inplace=True)

In [68]:
samples.head()

,Id,Pred1Label,Pred1Score,Pred2Label,Pred2Score,Pred3Label,Pred3Score,Status,ImageName,ModelName
960,1039,mantis,0.887277,ants,0.062809,bees,0.049914,0,0.000529_shovel _ shovel_0.69947743.jpg,inception_imageneta_bias
1156,1235,ants,0.674341,mantis,0.224610,bees,0.101050,0,0.000479_garbage truck _ garbage truck_0.87838...,inception_imageneta_bias
1115,1194,bees,0.951299,mantis,0.029142,ants,0.019559,0,0.000115_beaker _ beaker_0.70955336.jpg,inception_imageneta_bias
1147,1226,bees,0.925042,mantis,0.048518,ants,0.026439,0,0.000008_lighter _ lighter_0.96101415.jpg,inception_imageneta_bias
987,1066,bees,0.841898,mantis,0.113494,ants,0.044607,0,0.000071_duck _ duck_0.95757425.jpg,inception_imageneta_bias

In [94]:
temp = df.sample(n=1, replace=False, random_state=1)

In [95]:
final = samples.append(temp)

In [106]:
len(final)

95

In [107]:
final.head()

,Id,Pred1Label,Pred1Score,Pred2Label,Pred2Score,Pred3Label,Pred3Score,Status,ImageName,ModelName,iteration
1024,1103,mantis,0.678971,bees,0.277241,ants,0.043787,0,0.001768_reel _ reel_0.9064634.jpg,inception_imageneta_bias,3
1144,1223,ants,0.918550,bees,0.067052,mantis,0.014398,0,0.000011_manhole cover _ manhole cover_0.99939...,inception_imageneta_bias,3
1022,1101,mantis,0.902208,bees,0.068072,ants,0.029720,0,0.002029_drumstick _ drumstick_0.95437384.jpg,inception_imageneta_bias,3
1023,1102,ants,0.577905,mantis,0.386348,bees,0.035747,0,0.000962_pretzel _ pretzel_0.72597605.jpg,inception_imageneta_bias,3
953,1032,mantis,0.623485,bees,0.342019,ants,0.034496,0,0.000611_dumbbell _ dumbbell_0.6139861.jpg,inception_imageneta_bias,3

TypeError: sort_values() got an unexpected keyword argument 'by'

In [81]:
pilot = pd.read_csv('pilot_batch.csv')

In [83]:
pilot['iteration'] = 1

In [99]:
final['iteration'] = 3

In [76]:
final.head()

,Id,Pred1Label,Pred1Score,Pred2Label,Pred2Score,Pred3Label,Pred3Score,Status,ImageName,ModelName,iteration
960,1039,mantis,0.887277,ants,0.062809,bees,0.049914,0,0.000529_shovel _ shovel_0.69947743.jpg,inception_imageneta_bias,1
1156,1235,ants,0.674341,mantis,0.224610,bees,0.101050,0,0.000479_garbage truck _ garbage truck_0.87838...,inception_imageneta_bias,1
1115,1194,bees,0.951299,mantis,0.029142,ants,0.019559,0,0.000115_beaker _ beaker_0.70955336.jpg,inception_imageneta_bias,1
1147,1226,bees,0.925042,mantis,0.048518,ants,0.026439,0,0.000008_lighter _ lighter_0.96101415.jpg,inception_imageneta_bias,1
987,1066,bees,0.841898,mantis,0.113494,ants,0.044607,0,0.000071_duck _ duck_0.95757425.jpg,inception_imageneta_bias,1

In [34]:
temp = samples[['iteration','Id']].copy()

In [35]:
temp.head()

      iteration    Id
986           1  1065
903           1   982
1082          1  1161
1029          1  1108
942           1  1021

In [97]:
final.to_csv('iteration3_prod.csv', index=False)

In [100]:
records_to_update = list(final[['iteration','Id']].itertuples(index=False,name=None))

In [79]:
records_to_update[1]

(1, 1235)

In [38]:
def updateMultipleRecords(recordList):
    try:
        sqliteConnection = sqlite3.connect(annotation_path)
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sqlite_update_query = """Update apiservice_Images set iteration = ? where id = ?"""
        cursor.executemany(sqlite_update_query, recordList)
        sqliteConnection.commit()
        print("Total", cursor.rowcount, "Records updated successfully")
        sqliteConnection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to update multiple records of sqlite table", error)
    finally:
        if sqliteConnection:
            sqliteConnection.close()
            print("The SQLite connection is closed")

In [101]:
updateMultipleRecords(records_to_update)

Connected to SQLite
Total 95 Records updated successfully
The SQLite connection is closed

In [60]:
len(df)

2194

In [49]:
temp = df.sample(n=4)

In [51]:
temp['Itertaion'] = 1

In [53]:
records_to_update = list(temp[['Itertaion','Id']].itertuples(index=False,name=None))

In [54]:
records_to_update

[(1, 1582), (1, 833), (1, 2220), (1, 2432)]

In [50]:
temp.head()

,Id,Pred1Label,Pred1Score,Pred2Label,Pred2Score,Pred3Label,Pred3Score,Status,ImageName,ModelName
1237,1582,mantis,0.997111,bees,0.002590,ants,0.000299,0,0.000196_shovel _ umbrella_0.5735567.jpg,squeezenet_imageneta_bias
754,833,DINNER_CUTLERY,0.927243,TEA_SPOON,0.051431,FISH_SLICE,0.021326,0,dinnerkniferaw17.jpg,inception_utensil_both_bias
1875,2220,TEA_SPOON,0.973854,FISH_SLICE,0.021870,DINNER_CUTLERY,0.004275,0,dinnerforkraw30.jpg,squeezenet_utensil_color_bias
2087,2432,FISH_SLICE,0.777233,DINNER_CUTLERY,0.221315,TEA_SPOON,0.001453,0,fishsliceraw78.jpg,squeezenet_utensil_shape_bias

In [61]:
samples = df.groupby('ModelName').sample(frac=.1, replace=False, random_state=1).copy()

In [62]:
len(samples)

218

In [45]:
328/5

65.6

In [56]:
120/5

24.0

In [10]:
len(samples.loc[samples.ModelName=='imageneta'])

13

In [13]:
samples.to_csv('pilot.csv',index=False)

In [ ]:
df.to_sql('tmp', conn, if_exists='replace')

In [ ]:
sql = """
UPDATE apiservice_images set iteration = (SELECT t.last_seen
                                   FROM tmp t
                                   WHERE t.Key = table_name.key)
WHERE EXISTS(
    SELECT *
    FROM tmp
    WHERE tmp.key = table_name.key
)
"""

In [ ]:
c.execute(sql)

In [ ]:
conn.commit()