In [10]:
import pandas as pd
import sqlite3

In [13]:
database_path = '../data/database/concepts.db'
conn = sqlite3.connect(database_path)

In [14]:
colors = pd.read_sql('select * from colors',conn)
colors.head()

   Id        Color
0   0  Light-Brown
1   1    Dark-Grey
2   2        White
3   3  White-Brown
4   4         Grey

In [15]:
colors.rename(columns={"Id": "color_id"},inplace=True)

In [ ]:
temp = construct_sql(c, 4)

In [22]:
mapping = {1:['Light-Brown', 'Dark-Brown', 'Brown', 'White',
     'Black-Brown', 'Light-Brown-White', 'Brown-Grey', 'Yellow', 'Grey'],
           2:['Black', 'Dark-brown', 'Brown', 'Light-Brown', 'Blue'],
           3: ['Light-Brown', 'Dark-Brown', 'Grey','White', 'Brown', 'Light-Grey', 'Dark-Grey', 'White-Brown','Brown', 'White'],
           4: ['Black', 'Reddish-Brown', 'Yellow-Green', 'Grey', 'Red', 'Olive', 'Blue', 'Light-Brown', 'Brown,-Yellow', 'Blue-Grey', 'Grey-Black', 'Black-Brown'],
           5: ['Yellow','White'],
           18: ['Grey', 'Purple', 'Black-White'],
           19: ['Grey', 'White'],
           6: ['Dark-Brown','Brown', 'White', 'Design', 'Yellow','Green'],
           7: ['Grey', 'Brown', 'Red','Dark-Brown','Light-Brown'],
           8: ['White','Brown'],
           9: ['Black', 'White', 'Green','White'],
           10: ['Brown'],
           11: ['Brown','Grey','Black'],
           12: ['Dark-Brown'],
           13: ['Black'],
           14: ['Brown'],
           15: ['Brown', 'Olive', 'Black', 'Grey', 'Red', 'White', 'Light-Grey', 'Light-Brown'],
           16: ['Blue', 'Brown', 'Black', 'White'],
           17: ['Grey', 'Blue', 'Brown', 'Black']
          }

In [23]:
for k in mapping.keys():
    c = [x.lower() for x in mapping[k]]
    c = set(c)
    colors['Color'] = colors['Color'].str.lower()
    temp = pd.DataFrame()
    temp['color_id'] = colors[colors.Color.isin(c)]['color_id']
    temp['concept_id'] = k
    cnt = temp.to_sql('concept_color',con=conn,if_exists='append',index=False)

In [24]:
df = pd.read_sql('select obj.name, obj.function, obj.shape, colors.Color from primary_concepts obj inner join concept_Color mid on obj.id = mid.concept_id inner join colors on mid.color_id=colors.id', conn)

In [25]:
df.head()

   Name Function        Shape        Color
0  Desk    Study  Rectangular  Light-Brown
1  Desk    Study  Rectangular        White
2  Desk    Study  Rectangular         Grey
3  Desk    Study  Rectangular   Dark-Brown
4  Desk    Study  Rectangular   Brown-Grey

In [26]:
list(itertools.product(*lists)), columns=['aa', 'bb', 'cc'

79